{% extends 'base.html' %}

{% block titulo %}
    Autenticação
{% endblock %}

{% block pagina %}

    <form action="{{ url_for('autenticacao.autenticar') }}" method="POST">
        <label class="form-label" for="nome">Usuário:</label>
        <input class="form-control" type="text" name="usuario" id="usuario">
        <br>
        <label class="form-label" for="preco">Senha:</label>
        <input class="form-control" type="text" name="senha" id="senha">
        <br>
        <button class="btn btn-primary" type="submit">Autenticar</button>
        <a href="{{ url_for('registro_usuario.registro') }}" class="btn btn-secondary">Registrar</a>
    </form>
    
{% endblock %}