{% extends 'base.html' %}

{% block titulo %}
    Adicionar Produto
{% endblock %}

{% block pagina %}
    <form action="{{ url_for('cad_prod.adicionar') }}" method="Post" enctype="multipart/form-data">
        <label class="form-label" for="nome">Nome:</label>
        <input class="form-control" type="text" name="nome" id="nome">
        <br>
        <label class="form-label" for="preco">Preço:</label>
        <input class="form-control" type="text" name="preco" id="preco">
        <br>
        <label class="form-label" for="nome">Quantidade:</label>
        <input class="form-control" type="text" name="quantidade" id="quantidade">
        <br>
        <label class="form-label" for="nome">Imagem:</label>
        <input class="form-control" type="file" name="foto" id="foto">
        <br>
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a href="{{ url_for('cad_prod.home') }}" class="btn btn-secondary">Voltar</a>
    </form>
{% endblock %}